<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>Sobre</h2>
  <p>
    A empresa de Criação de Aplicativo Mobile que visa a solução para nossos usuários 

    No aplicativo, é possível saber as notícias mais atualizada no momento 
    Com isso é importante que nossos clientes se mantenha sempre atualizado


  </p>


  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-thumbnail slot="start">
        <ion-img [src]="item.src"></ion-img>
      </ion-thumbnail>
      <ion-label>{{item.text}}</ion-label>
    </ion-item>
  </ion-list>
  

</ion-content>
